.product-details {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /*background: linear-gradient(
      90deg,
      transparent 0%, 
      transparent 40%, 
      rgba(16, 137, 201, 0.5) 50%, 
      #1494D9 60%, 
      #022231 100%
    );*/
  }
  
  .header__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(13, 127, 187, 0.02) 0%, rgba(16, 137, 201, 0.474806) 20%, #1494D9 60%, #022231 100%);
    z-index: -1;
  }
  
  .product-details__border {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 96%;
    height: 96%;
    border: 2px solid;
    border-image-source: linear-gradient(208.21deg, #FCFC26 0.43%, #ED77A9 99.49%);
    border-image-slice: 1;
    pointer-events: none;
    z-index: 1;
    border-radius: 20px;
  }
  .product-details__image-wrapper {
    position: relative;
    width: 100% !important;
    height: 100% !important; 
    /*width: 1177px;
    height: 1569px;*/
    /*background: url('/public/1.png') no-repeat center center;*/
    background-size: cover;
    pointer-events: none;
}
  .header-top {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .top-btn1,
  .top-btn2,
  .top-btn3 {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .product-details__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }
  
  .product-details__tab {
    background: none;
    border: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
  }
  