.info-component {
    /*width: 1440px;*/
    /*height: 1024px;*/
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(13, 127, 187, 0.02) 0%, rgba(16, 137, 201, 0.474806) 17.85%, #1494D9 38.47%, #022231 100%);
  }  
  .info-component__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100vh !important;
    z-index: 2;
  }
  .info-component__border {
    position: absolute;
    top: 5%; 
    left: 2%;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100% !important;
    height: 100% !important;
    /*width: 1368px;
    height: 951px;*/
    border: 2px solid;
    border-image-source: linear-gradient(208.21deg, #FCFC26 0.43%, #ED77A9 99.49%);
    border-image-slice: 1;
    pointer-events: none;
    z-index: 1;
}

  .info-component__image-wrapper {
    position: relative;
    width: 95% !important;
    height: 95% !important; 
    /*width: 1368px;
    height: 951px;*/
    /*background: url('/public/info.png') no-repeat center center;*/
    background-size: cover;
    
  }
  /*.info-component__background {
    width: 1368px;
    height: 951px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }*/
  .info-component__background {
    width: 929px;
    height: 1024px;
    object-fit: cover;
    position: relative;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 66%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 66%, rgba(0, 0, 0, 0) 100%);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background-color: transparent;
  }
  
  .info-component__top-buttons {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
  }
  
  .info-top-btn1 {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    transform: translateX(0%) translateY(-50%);
    z-index: 2;
  }
  
  .info-top-btn2 {
    width: 151px;
    height: 58.23px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    transform: translateX(0%) translateY(-50%);
    position: relative;
    z-index: 2;
    background-color: transparent;
  }
  
  .info-top-btn3 {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    transform: translateX(0%) translateY(-50%);
    z-index: 2;
  }
  
  .info-component__content {
    position: absolute;
    top: 12%;
    left: 42%;
    width: 100%;
    height: 100%;
    z-index: 2;    
    /*transform: translate(-10%, -10%); */
}

  .info-content__block1 {
    width: 533px;
    height: 69px;    
    display: flex;    
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  
  .info-block1__child1 {
    width: 245px;
    height: 69px;
    background: #E4B832;
    border: 1px solid #FCFC26;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 100%, 0 100%);
    border-top-left-radius: 20px; 
  }
  
  .info-block1__child1 p {
    font-family: 'Project Space', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26.56px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    
  }
  
  .info-block1__child2 {
    border: 1px solid #FCFC26;
    display: inline-block;
    width: 362px;
    height: 69px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(73, 97, 132);
    clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 100%, 20px 100%);
  }
  
  .info-block1__child2 p {
    font-family: 'Project Space', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26.56px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .info-content__block2 {
    width: 613px;
    height: 142px;
    background: #340233;
    border: 1px solid #FCFC26;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;    
  }
  
  .info-content__block2 p {
    font-family: 'Project Space', sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    line-height: 29.22px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FCFC26;
    padding: 0 20px;

  }
  .info-content__block3 {
    width: 897px;
    height: 482px;
    background: #340233;
    border: 1px solid #E4B832;    
    padding: 20px;
    box-sizing: border-box;
  }
  
  .info-content__block3 p {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
  }
  